<title>{{ title || 'Hello WWF' }}</title>

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="format-detection" content="address=no" />

{% if css && css|typeof == 'string' %}
<link rel="stylesheet" type="text/css" href="{{GLOBAL.STATIC_HOST}}/css/{{css}}"/>
{% else %}
{% for style in css %}
<link rel="stylesheet" type="text/css" href="{{GLOBAL.STATIC_HOST}}/css/{{style}}"/>
{% endfor %}
{% endif %}