<title>{{ title || 'Hello WWF' }}</title>

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="format-detection" content="email=no" />
<meta name="format-detection" content="address=no" />

{# 配置动态参数 #}
{% if env == 'dev' %}
{% set STATIC_HOST = '/public' %}
{% else %}
{% set STATIC_HOST = 'http://static.hello13.net' %}
{% endif %}

{% if css && css|last != 's' %}
{% for style in css %}
<link rel="stylesheet" type="text/css" href="{{STATIC_HOST}}/css/{{style}}"/>
{% endfor %}
{% else %}
<link rel="stylesheet" type="text/css" href="{{STATIC_HOST}}/css/{{css}}"/>
{% endif %}